.App {
  text-align: center;
}

.App-logo {
  height: 129px;
  width: 140px;
  float: left;
  cursor: pointer;
}

.App-header {
  background-color: #000;
  height: 120px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.topButton {
  margin-right: 5px;
}

input:focus {
  outline: none;
}

