.wisdom {
    border-bottom: 1px solid #dedede;
    width: 635px;
    height: auto;
    margin: 2px auto;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
}

.improvewisdom textarea {
    width: 320px;
    min-height: 400px;
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.wisdom input {
    width: 595px;
}
